%meta{property: 'og:title', content: 'Rails Girls Łódź 2016'}
%meta{property: 'og:description', content: "Rails Girls is coming to Łódź for the third time on 17th and 18th June! During the free two-day workshop we'll dive into the magical world of Ruby on Rails." }
%meta{property: 'og:image', content: URI.join(root_url, image_path('rgl_logo_black.png'))}
