.thanks
  = image_tag 'rg_logo_black.png'

  %h1 Registration closed

  %p
    We're sorry if you didn't get a chance to register. But don't worry,
    %br
    it's not the last Rails Girls event in the world :)

  %p
    If you registered, you'll find out if you got in on&nbsp;
    %strong> June 8th
    \.

  %p Lots of love!

  %p= link_to 'railsgirls.com/lodz', 'http://railsgirls.com/lodz'
