Thank you for your submission!

The registration for Rails Girls Łódź 2016 closes on June 1st.

Exactly one week later, on June 8th, we'll let you know if you got in.

Good luck!

The Rails Girls Łódź Team

http://railsgirls.com/lodz
